

<form>
  
    <div class="mb-3">
        Escolha uma área:
        <select class="form-select" aria-label="Selecione uma área">
            <option selected>Selecione uma área</option>
            <option value="1">Clinico Geral</option>
            <option value="2">Fisoterapeuta</option>
            <option value="3">Cardiologista</option>
        </select>
    </div>

    <div class="mb-3">
        Escolha um profissional:
        <select class="form-select" aria-label="Selecione um Profissional">
            <option selected>Selecione um profissional</option>
            <option value="1">Dr. Elizabete Lima</option>
            <option value="2">Dra. Maria Lucia</option>
            <option value="3">Dr. Marco Pereira</option>
        </select>
    </div>

    <div class="mb-3">
        Tipo de Atendimento:
        <select class="form-select" aria-label="Selecione um tipo de atendimento">
            <option selected>Selecione um tipo</option>
            <option value="1">Particular</option>
            <option value="2">Convênio Dr. Saúde</option>
            <option value="3">Convênio Prefeitura</option>
        </select>
    </div>

    <div class="mb-3">
        Crie ou digite o nome do cliente:
        <div class="input-group">
            <input class="form-control" type="text" value="" aria-label="readonly input example">
        </div>
        <div class="text-start">
            <small>Confirme o telefone do cliente: (15) 9975-1539</small>
        </div>
    </div>

    <div class="mb-3">
        Comentários:
        <textarea class="form-control"  id="floatingTextarea"></textarea>
    </div>

</form>