<div class="text-center">
    Horários Disponíveis:
    <div class="row">
        <div class="col time time-off">08:00</div>
        <div class="col time time-off">08:30</div>
        <div class="col time time-available">09:00</div>
        <div class="col time time-selected">09:30</div>
        <div class="col time time-off">10:00</div>
        <div class="col time time-off">10:30</div>
        <div class="col time time-available">11:00</div>
        <div class="col time time-available">11:30</div>
    </div>
    <div class="row">
        <div class="col time time-available">14:00</div>
        <div class="col time time-available">14:30</div>
        <div class="col time time-off">15:00</div>
        <div class="col time time-off">15:30</div>
        <div class="col time time-off">16:00</div>
        <div class="col time time-off">16:30</div>
        <div class="col time time-off">17:00</div>
        <div class="col time time-available">17:30</div>
    </div>

</div>